$bg-color: rgba(237, 242, 244, 1);
$btn-color: rgba(65, 68, 69, 1); 
$btn-hover: rgba(95, 96, 97, 1);
$calc-color: #6d6d6e; 
$result-color: $btn-color;
$result-hover-color: $btn-hover;
$calc-shadow-color: rgba(9, 9, 9, 1);
$font-color: rgba(244, 251, 253, 1);
$operations-hover-color: #6d6ded;
