@use '@styles/utilities.scss' as utils;

.sup, .factorial{
    padding-left: 2px;
    padding-right: 6px;
    color: utils.$operations-line-color;
}
.sup{
    align-self: flex-start;
    font-size: 20px;
}
.sup-entering{
    padding-left: 2px;
    padding-right: 6px;
    color: utils.$font-color;
    background-color: utils.$operations-line-color;
}
.trig-oper{
    color: utils.$operations-line-color;
    padding-left: 5px;
    padding-right: 5px;
}
.operation-value{
    color: utils.$font-color;
}