$bg-color: rgba(237, 242, 244, 1);
$calc-color: rgba(65, 68, 69, 1); 
$result-hover-color: rgba(65, 68, 69, .9);
$calc-shadow-color: rgba(9, 9, 9, 1);
$font-color: rgba(244, 251, 253, 1);
$operations-line-color: rgba(182, 55, 127, 1);
$operations-hover-color: rgba(209, 61, 144, 1);
$numbers-hover-color: rgba(9, 9, 9, 0.5);
